<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="left-sidebar">
          <h2>Categorias</h2>
          <div class="panel-group category-products" id="accordian"><!--category-productsr-->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordian" href="#parafuso">
                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                    Parafusos
                  </a>
                </h4>
              </div>
              <div id="parafuso" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul>
                    <li><a href="">Parafuso Sextavado </a></li>
                    <li><a href="">Parafuso </a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordian" href="#fixador">
                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                    Fixadores
                  </a>
                </h4>
              </div>
              <div id="fixador" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul>
                    <li><a href="">Fixador Sextavado </a></li>
                    <li><a href="">Fixador </a></li>
                  </ul>
                </div>
              </div>
            </div>



          </div><!--/category-productsr-->

          <div class="brands_products"><!--brands_products-->
            <h2>Marcas</h2>
            <div class="brands-name">
              <ul class="nav nav-pills nav-stacked">
                <li><a href=""> <span class="pull-right">(52)</span>Massey Ferguson</a></li>
                <li><a href=""> <span class="pull-right">(59)</span>New Holland</a></li>
              </ul>
            </div>
          </div><!--/brands_products-->

          <!-- <div class="price-range"><!--price-range-->
            <!-- <h2>Price Range</h2> -->
            <!-- <div class="well"> -->
               <!-- <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br /> -->
               <!-- <b>$ 0</b> <b class="pull-right">$ 600</b> -->
            <!-- </div> -->
          <!-- </div><!--/price-range-->

          <!-- <div class="shipping text-center"><!--shipping-->
            <!-- <img src="assets/images/home/shipping.jpg" alt="" /> -->
          <!-- </div><!--/shipping-->

        </div>
      </div>

      <div class="col-sm-9 padding-right">
        <div class="features_items"><!--features_items-->
          <h2 class="title text-center">Produtos</h2>
          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="assets/images/shop/product12.jpg" alt="" />
                  <h4>Parafuso Sextavado 16 Milímetros 10.9 Fio 1,5 Rosca </h4>
                  <a routerLink="/prodetalhe" class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>Ver Produto</a>
                </div>
              </div>
              <div class="choose">
                <ul class="nav nav-pills nav-justified">
                  <li><a href=""><i class="fa fa-plus-square"></i>Add p/ Favoritos</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add p/ Orçamento</a></li>
                </ul>
              </div>
            </div>
          </div>

            <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="assets/images/shop/product11.jpg" alt="" />
                  <h4>Parafuso Sextavado R.P 5/8-11 X 5-1/2 Aço 8.8</h4>
                  <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>Ver Produto</a>
                </div>
              </div>
              <div class="choose">
                <ul class="nav nav-pills nav-justified">
                  <li><a href=""><i class="fa fa-plus-square"></i>Add p/ Favoritos</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add p/ Orçamento</a></li>
                </ul>
              </div>
            </div>
          </div>

            <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="assets/images/shop/product10.jpg" alt="" />
                  <h4>Fixador do Pêndulo Grey Num 83262</h4>
                  <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>Ver Produto</a>
                </div>
              </div>
              <div class="choose">
                <ul class="nav nav-pills nav-justified">
                  <li><a href=""><i class="fa fa-plus-square"></i>Add p/ Favoritos</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add p/ Orçamento</a></li>
                </ul>
              </div>
            </div>
          </div>


          <ul class="pagination">
            <li class="active"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">&raquo;</a></li>
          </ul>
        </div><!--features_items-->
      </div>
    </div>
  </div>
</section>

